<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  </head>
    <body>

        <!--Header-->
        <div id="top-nav"></div>
        
        <div class="Main-Content-wave">
            
          
            <div class="container" style="font-size: 20px;">
                <p><b>Mission Statement</b> <br>
                    The goal of a library is to provide access to information and to provide the love of reading.
                        <br><br>
                    <b>Library Hours</b> <br>
                    Monday - Friday 7:30 a.m - 5:00 p.m.
                        <br><br>
                    <b>Developers</b> <br>
                    Our library is manage by a team of team of developers. The developers are responsible for the day-to-day operations of the library. They are also responsible for the maintenance of the library's website.
                        <br><br>
                    <b>Books</b> <br>
                    As a school that is committed to providing a quality education, we have a large collection of books. Our library is aligned with our school's Mission and Vision, providing quality books related to ICT and Tech that are available for students to borrown.
                        <br><br>
                    <b>Location</b> <br>
                    Our library is located in the main building of our school. It is on the fourth floor. The library is open to all students and staff during the school day.
                        <br><br>
                    <b>Contact Us</b> <br>
                    <b>Phone</b>: 0998-9734909/0975-7573953
                        <br>
                    <b>Email</b>: <a href="#" style="color: #000000;">aclcguad.admission@gmail.com</a>
                        <br>
                    <b>Address</b>: 2014 Ramon Magsaysay Avenue, Guadalupe Nuevo, Makati, Philippines, 1314
                        <br><br>
                    <b>Inquiry</b></p>
                        <br><br>
                    <center><p><b>Meet our Developers</b></p></center>    
            </div>
           
            <!-- DEVELOPERS -->
            <!-- <div style="display: flex; justify-content: space-evenly; align-items: center; margin-bottom: 250px;"> -->
                    
                

            
            
        </div>
            
        <div id="footer"></div>

        
        <script src="https://kit.fontawesome.com/2c47afb381.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/js/materialize.min.js"></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>