
<footer class="overlay page-footer" style="padding-top: 0;">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">あのバンド</h5>
                    <div class=" s6 offset-s6">
                        <p class="grey-text text-lighten-4">
                        あのバンドの歌がわたしには <br>
                        甲高く響く笑い声に聞こえる <br>
                        あのバンドの歌がわたしには <br>
                        つんざく踏切の音みたい <br>
                        </p>
                    </div>
                </div>
    
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Config</a></li>
                        <li><a class="white-text" href="{% url 'inquiry' %}">Inquiry</a></li>
                        <li><a class="white-text" href="{% url 'about' %}">About</a></li>
                        <li><a class="white-text" href="#">Donate</a></li>
                    </ul>
                </div>
    
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" target="_blank" href="//github.com/Breacher1337">Github</a></li>
                        <li><a class="white-text" target="_blank" href="//discord.gg/user/Elaijah#8727">Discord</a></li>
                        <li><a class="white-text" target="_blank" href="http://www.aclcguadalupe.com/csp/aclc/web/home.csp">Enroll</a></li>
                        <li><a class="white-text" target="_blank" href="https://www.facebook.com/aclcguadalupe.edu.ph">Facebook</a></li>
                        <li><a class="white-text" target="_blank" href="http://shs.amaes.com/2212/login/index.php">OED</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col l6 s6">
                        Made by <a class="orange-text indigo darken-4" target="_blank" href="https://github.com/Breacher1337">Elaijah</a>
                    </div>
                    <div class="col l6 s6">Copyright © 2023 Power Rangers. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>