<footer class="page-footer overlay" style="margin-top: auto; background-color: #1a237e">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href=><img src="" alt="logo" class="responsive-img" width="100px" height="100px"></a>



        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="">Inquiry</a></li>
            <li><a class="white-text" href="">About</a></li>
            <li><a class="white-text" href="">Donate</a></li>
            <li><a href="" class="white-text">Logout</a></li>
            <li><a href="" class="white-text">Login</a></li>
            

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" target="_blank" href="http://www.aclcguadalupe.com/csp/aclc/web/home.csp">Enroll</a></li>
            <li><a class="white-text" target="_blank" href="https://www.facebook.com/aclcguadalupe.edu.ph">Facebook</a></li>
            <li><a class="white-text" target="_blank" href="http://shs.amaes.com/2212/login/index.php">OED</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
        <div class="col l6 s6">
          
      </div>
      <div class="col l6 s6">
        Copyright © 2023 aclclibrary.live All Rights Reserved.
  </div>
      
</div>
</div>

    </div>
  </footer>