<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  </head>


    <body>

      <!--Header-->
      <div id="top-nav"></div>


      <!--Modal-->
      <div id="modal-search">
        
      </div>


        <!--Main-Content-->
        <div id="index-banner" class="parallax-container">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col s12 center-align">
                            <h1 class="header center-align white-text" style="text-shadow: 1px black;">Welcome to ACLC Guadalupe Library</h1>
                            <h5 class="header col s12"> A library for your books. all in one place. </h5>
                        </div>
                    </div>
                    <div class="row center-align">
                    </div>
                    <div class="row center-align">
                        <a href="https://materializecss.github.io/materialize" target="_blank" rel="noopener noreferrer" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="parallax">
                <img src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="Unsplashed background img 1" style="width:100%;"/>
            </div>
        </div>
        
        <div class="container">
            <div class="section">
              <div class="row">
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center-align">
                      <i class="medium material-icons">flash_on</i>
                    </h2>
                    <h5 class="center-align">Speeds up development</h5>
      
                    <p>
                      We did most of the heavy lifting for you to provide a default
                      stylings that incorporate our custom components. Additionally,
                      we refined animations and transitions to provide a smoother
                      experience for developers.
                    </p>
                  </div>
                </div>
      
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center-align">
                      <i class="medium material-icons">group</i>
                    </h2>
                    <h5 class="center-align">User Experience Focused</h5>
      
                    <p>
                      By utilizing elements and principles of Material Design, we were
                      able to create a framework that incorporates components and
                      animations that provide more feedback to users. Additionally, a
                      single underlying responsive system across all platforms allow
                      for a more unified user experience.
                    </p>
                  </div>
                </div>
      
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center-align">
                      <i class="medium material-icons">settings</i>
                    </h2>
                    <h5 class="center-align">Easy to work with</h5>
      
                    <p>
                      We have provided detailed documentation as well as specific code
                      examples to help new users get started. We are also always open
                      to feedback and can answer any questions a user may have about
                      Materialize.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <!-- Footer -->
        <div id="footer"></div>



    <script src="https://kit.fontawesome.com/2c47afb381.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/js/materialize.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>