<!DOCTYPE html>

<html>
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/css/materialize.min.css">
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    

        <style>
            
            .img{
            background-image: url(/static/img/index/Rectangle\ 56.png);
            background-size: cover;
            background-position: bottom;
            position: relative;
            z-index: 1;
            }


            .overlay-upper{
                background-color: rgba(26, 34, 126, 0.9);
            }
            .overlay{
            background-color: rgba(26, 34, 126, 0.9);
            background-image: linear-gradient(to bottom, rgba(26, 34, 126, 0.123), rgba(0,0,0, 1));
            
            }

            .img::before{
                content: ""; display:block;
                width: 100%; height:150px;
                transform: skewY(-3deg);
                background-image: linear-gradient(to bottom, #ffecb3, #ffe082);
                position: absolute; top: 0px; left: 0px;
                transform-origin: left;
                z-index: 1;
            }

           
            
            

        </style>


    </head>




    <body>
        
        <!--Header-->
        <div id="top-nav"></div>

        <div class="hide-on-med-and-up" id="sidenav"></div>


        <!--Modal-->
        <div id="modal-search"></div>


        <!--Main-Content-->
        <div id="index-banner" class="parallax-container">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col s12 center-align">
                            <h1 class="center-align white-text" style="text-shadow: 2px 3px 3px black;">ACLC Guadalupe Library</h1>
                            <h5 class="red-text white-text" style="text-shadow: 2px 3px 3px black;">A Resource for Life-Long Learners </h5>
                        </div>
                    </div>
                    <div class="row center-align">
                    </div>
                    <div class="row center-align">
                        <a href="./library.html" target="_blank" rel="noopener noreferrer" class="btn-large waves-effect waves-light indigo darken-2 z-depth-1-half hoverable" style="border-radius: 50px;">Go to Library </a>
                    </div>
                </div>
            </div>
            <div class="parallax">
                <img src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" width="100%" alt="Unsplashed background img 1" style="width:100%;"/>
            </div>
        

        </div>


        <div class="row" style="z-index: 2; background-color:  #ffecb3; padding: 5rem 0; margin-bottom: 0;">
            <div class="row">
                <div class="col s12 m6 center-align" style=" margin: 0;">
                    <h4 class="title indigo-text text-darken-4" style="text-shadow: 2px 2px white; font-weight: bolder;">About ACLC Library</h4>
                    <p style="padding: 0 2rem; font-weight: bold;">The Library provides a comprehensive collection of books, journals, and other resources related to information technology and computer science. It serves as a learning resource for students enrolled in the AMA Computer Learning Center and as a resource for the wider community of professionals and researchers in the field of information technology. The library may offer a range of services and facilities, such as access to online databases, a quiet study area, and computers with internet access.</p>
                    
                    <a style="border-radius: 30px; margin-top: 2rem; width: 50%; margin-bottom: 4rem;" target="_blank" rel="noopener noreferrer" class="btn-large waves-effect waves-light indigo darken-1">Enroll Now!</a>
                </div>

                <div class="col s12 m5" >
                    <div class="carousel carousel-slider center z-depth-2" style="border-radius: 5px;">
                        <a class="carousel-item" ><img  src="/static/img/carousel/c1.jpg"></a>
                        <a class="carousel-item" ><img src="/static/img/carousel/c2.jpg"></a>
                        <a class="carousel-item" ><img src="/static/img/carousel/c3.jpg"></a>
                        <a class="carousel-item" ><img src="/static/img/carousel/c4.jpg"></a>
                        <a class="carousel-item" ><img src="/static/img/carousel/c5.jpg"></a>
                        <a class="carousel-item" ><img src="/static/img/carousel/c6.jpg"></a>
                    </div>
                </div>
            </div>
            
        </div>

        
        
        <div class="img">
            <div class="seperator"></div>
            
            
            <div class="overlay-upper">
                <div class="container">

                    <div class="row center white-text s12 m4" style="padding-top: 15rem; margin: 0;">
                        <i class="material-icons" style="font-size: 3.5rem;">menu_book</i>
                        <h5>Books</h5>
                        <h6>As a school that is committed to providing a quality education, we have a large collection of books. Our library is aligned with our school's Mission and Vision, providing quality books related to ICT and Tech that are available for students to borrow.​</h6>
                    </div>
    
                    <div class="row center white-text" style="padding: 5rem 0;margin: 0;">
                        <div class="col s12 m4" style="margin:24px 0;">
                            <i class="fa-solid fa-bullseye" style="font-size: 3.5rem;"></i>
                            <h5>Mission Statement</h5>
                            <h6>The goal of a library is to provide access to information and to provide the love of reading</h6>    
                        </div>
    
                        <div class="col s12 m4" style="margin:24px 0;">
                            <i class="fa-solid fa-clock" style="font-size: 3.5rem;"></i>
                            <h5>Library Hours</h5>
                            <h6>Monday - Friday </h6>
                            <h6>7:30 a.m. - 5: 00 p.m. </h6>
                        </div>
    
                        <div class="col s12 m4" style="margin:24px 0;">
                            <i class="fa-solid fa-location-dot" style="font-size: 3.5rem;"></i>
                            <h5>Location</h5>
                            <h6>Our library is located in the main building of our school. It is on the fourth floor. The library is open to all students and staff during the school day.</h6>
                        </div>
                    </div>
    
                    <div class="row center white-text" style="padding-bottom: 10rem; margin: 0;">
                        <i class="fa-solid fa-people-group" style="font-size: 3.5rem;"></i>
                        <h5>Developers</h5>
                        <h6>Our library is manage by a team of team of developers. The developers are responsible for the day-to-day operations of the library. They are also responsible for the maintenance of the library's website.​</h6>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <!-- Footer -->
            <div id="footer"></div>
        </div>




        <script src="https://kit.fontawesome.com/2c47afb381.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/js/materialize.min.js"></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>