<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/css/materialize.css">
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    </head>
    <body>
        


        
        <div class="Main-Content-wave">
            <!--Login-->
            <div class="container">

                <!--Card-Panel-->
                <div class="card-panel no-padding z-depth-4" style="border-radius: 10px;">
                    <div class="row">

                        <!--Left-Column-->
                        <div class="col s5 bg bg-login hide-on-med-and-down">
                            <div class="col">
                                <img src="/static/img/logo/logo.png" class="responsive-img brand-logo left center-align" style="margin-top: 24px;" alt="aclc library logo">
                            </div>
                        </div>
                        
                        <!--Right-Column-->
                        <div class="col s12 m12 l7 center-align" style="margin: 24px 0; padding: 0 96px 0 48px;">

                            <!--Form-->
                            <form action="">

                                <!--Login-->
                                <div class="row">
                                    <h2 class="center-align">Login</h2>
                                </div>

                                <!--Divider-->
                                <div class="divider"></div>

                                <!--Login-->
                                <div class="row">
                                    <div class="col s12" style="margin-top: 24px">
                                        <div class="input-field">
                                            <i class="fa-solid fa-envelope prefix"></i>
                                            <input id="email" type="email" class="validate" required>
                                            <label class="active" for="email">Email</label>
                                        </div>
                                    </div>
                                </div>
    
                                <!--Password-->
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <i class="fa-solid fa-lock prefix"></i>
                                            <input id="password" type="password" class="validate" required>
                                            <label class="active" for="password">Password</label>
                                        </div>
                                    </div>
                                </div>

                                <!--Remember-Me-->
                                <div class="row">
                                    <div class="col s12 m12 l6 no-padding left" style="margin: 12px 0;">
                                        <label>
                                            <input id="indeterminate-checkbox" type="checkbox">
                                            <span>Remember Me</span>
                                          </label>
                                    </div>
                                    
                                    <!--Submit-Btn-->
                                    <div class="col s12 l6 no-padding right" style="margin: 12px 0;">
                                        <button class="btn waves-effect waves-light btn-large indigo" type="submit" name="action">Submit
                                            <i class="fa-solid fa-paper-plane right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                                
                            <!--Sign-Up-->
                            <div class="row">
                                <div class="col s12" style="margin-top: 24px">
                                    <span>Don't have an account? <a href="#" class="indigo-text">Sign up here</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://kit.fontawesome.com/2c47afb381.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/js/materialize.js"></script>
    </body>
</html>