<div class="nav">
    <a class="nav-logo" href="index.html"><img src="/static/img/logo/logo.png" alt="logo"></a>
    <div class="nav-item-container">
        <div class="dropdown">
            <a href="books.html" class="nav-item dropdown-button"><i class="fa fa-book"></i> Books <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content-arrow"></div>
            <div class="dropdown-content">
                <div class="genre-section">
                    <h1>Strands</h1>
                    <a class="dropdown-item">STEM</a>
                    <a class="dropdown-item">HUMSS</a>
                    <a class="dropdown-item">ABM</a>
                    <a class="dropdown-item">GAS</a>
                    <a class="dropdown-item">PR</a>
                    <a class="dropdown-item">CSS</a>
                </div>
                <div class="search-section">
                    <input type="text" placeholder="Search..">
                    <button type="button">Search</button>
                </div>
            </div>
        </div>
        <a href="" class="nav-item"><i class="fa fa-paper-plane"></i> New Releases</a>
        <a href="login.html" class="nav-item"><i class="fa fa-sign-in"></i> Login</a>
    </div>
</div>